* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial;
}

#welcome-div
{
    width: 100%;
    min-heightheight: 50px;
    background-color: lightgrey;
    padding-right: 2%;
    padding-left: 2%;
    line-height: 50px;
    margin-bottom: 10px;
    text-align: center;
}

#navigation-div
{
    width: 100%;
    min-height: 30px;
    background-color: lightgrey;
    padding-right: 2%;
    padding-left: 2%;
    line-height: 30px;
    margin-bottom: 10px;
    text-align: center;
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;

}

nav li {
    margin-right: 30px;
    text-align: center;
}

a {
    text-decoration: none;
}

#pic-n-name-div
{
    padding-bottom: 0;
}



#picture-div
{
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


#name-div
{
    width: 80%;
    min-height: 50px;
    background-color: lightgrey;
    padding-right: 2%;
    padding-left: 2%;
    line-height: 50px;
    text-align: center;
    margin: auto;
    margin-bottom: 10px;

}

#about-div
{
    width: 100%;
    margin-bottom: 10px;
}

dl dt
{
    margin-top: 5px;
    margin-bottom: 5px;
}

dl dd
{
margin-bottom: 15px;
}

#about-me-head-div
{
    width: 100%;
    background-color: lightgrey;
    margin-bottom: 10px;
    padding-top: 1%;
    padding-left: 1%;
    padding-bottom: 1%;
}

#about-title-div
{
    padding-top: 1%;
    padding-left: 1%;
    padding-bottom: 1%;
}

#about-paragraph-div
{
    padding-top: 1%;
    padding-left: 1%;
    padding-bottom: 1%;
    float: left;
    background-color: lightgrey;
    width: 48%;
    min-height: 200px;
}

#about-interests-div
{
    padding-top: 1%;
    padding-left: 1%;
    padding-bottom: 1%;
    background-color: lightgrey;
    float: right;
    width: 48%;
    min-height: 200px;
}

#about-interests-points-div
{
    padding-top: 2%;
    padding-left: 8%;
}

#main-div
 {
    width: 100%;
    margin-bottom: 10px;
 }

.clearfix::after
{
    content:"";
    display: block;
    clear: both;
}

#education-div
{
    width: 48%;
    min-height: 300px;
    background-color: lightgrey;
    float: left;
    padding-top: 1%;
    padding-left: 1%;
    padding-bottom: 1%;

}

#edu-points-div
{
    padding-top: 2%;
    padding-left: 8%;
}

#job-points-div
{
    padding-top: 2%;
    padding-left: 8%;
}

#jobs-div
{
    width: 48%;
    min-height: 300px;
    background-color: lightgrey;
    float: right;
    padding-top: 1%;
    padding-left: 1%;
    padding-bottom: 1%;
}

#project-box-div .box
{
    width: 32%;
    height: auto;
    background-color: lightgrey;
    float: left;
    margin-bottom: 10px;
}



#project-box-div .box:nth-child(2)
{
    margin-left: 2%;
    margin-right: 2%;
}

img {
    width: 100%;
    height: 100%;
    display: block;

}

#box-pic-div
{
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.project-pics-p
{
    position: absolute;
    z-index: 2;
    color: white;
    text-align: center;
}


#projects-div
{
    width: 100%;
    background-color: lightgrey;
    margin-bottom: 10px;
    padding-top: 1%;
    padding-left: 1%;

}

#project-box-div
{
    width: 100%;
    height: auto;
    text-align: center;
    position: relative;

}

#footer-div
{
    width: 100%;
    min-height: 35px;
    background-color: lightgrey;
    padding-top: 1%;
    padding-left: 1%;
    padding-bottom: 1%;
    margin-bottom: 20px;
}

#contact-div
{
    float: left;
}

#email-div
{
    float: inside;
}

#github-div
{
    float: right;
}

#wrapper-div
{
    width: 90%;
    margin: auto;

}